#app {
  background-color: #e8e7e2;
}
#top {
  background-color: #e8e7e2;
}
#logo {
  background-color: #e8e7e2;
  top: 0px;
  height: 150px;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}
