#crawl-forms {
  float: left;
}

#crawl-forms li{
  list-style: none;
}

#create-map {
  float: right;
  width: 600px;
  height: 500px;
  background-color: red;
}

#crawl-forms {
  background-color: goldenrod;
}



