.notif {
  // Style of the notification itself 
  border-radius: 25px;
  
  // Style for title
  .notification-title {
    color: rgb(251, 251, 251);
    background-color: rgb(199, 195, 195);
  }

  // Style for content
  .notification-content {
     background-color: rgb(219, 216, 216);

  }
 

  /*
    Style for specific type of notification, will be applied when you
    call notification with "type" parameter:
    this.$notify({ type: 'success', message: '___' })
  */
  &.success-type {
    border: 2px solid rgb(12, 194, 82);
    border-radius: 50%;
  }

  &.failure {
    border-left: 5px solid rgb(200, 14, 14);
  }
}