.vs-sidebar {
  background-color: #5c5a6bec;
}

#view-profile {
  bottom: 0;
}

#phone-edit-span {
  width: 40%;
}

#phone-edit {
 float: right;
}

.vs-sidebar--footer {
  background-color: #5a5768f6;
}

.logout:link, .logout:visited {
  background-color: #f6372a;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.logout:hover, .logout:active {
  background-color: rgb(255, 27, 27);
  font-size: 18px;
}

#text {
  align-content: center;
}

#popup-title {
  -webkit-text-stroke: .2px black;
}

.login {
  float:right;
  bottom: 4px;
}

.login:link, .login:visited {
  background-color: #23f52d;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.login:hover, .login:active {
  background-color: rgb(9, 255, 0);
  font-size: 18px;
}